.inpt{
    width: 300px;
    height: 40px;
}

.espBtn{
    display: flex;
    align-items: center;
    height: 60px;
}

.btn{
    height: 30px;
}

.bloqueAlbum{
    margin: 10px;
    height: 60px;
}

.posBtn{
    display: flex;
    justify-content: center;
}

.posBusc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bgc{
    background-color: orangered;
    color: white;
    height: 30px;
}

button.pressed {
    background-color: #2980b9;
    color: white;
}

body {
    width: 100%; /* O cualquier otro ancho deseado */
    height: 100%; /* O cualquier otra altura deseada */
    margin: 0; /* Para quitar el margen predeterminado del body */
    padding: 0; /* Para quitar el padding predeterminado del body */
}