.inpt {
    width: 300px;
    height: 100px;
    padding: 10px;
    background-color: #f0f0f0; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}



.espBtn{
    display: flex;
    align-items: center;
    height: 60px;
}

.btn{
    height: 30px;
}

.bloqueAlbum{
    margin: 10px;
    height: 60px;
}

.posBtn{
    display: flex;
    justify-content: center;
}

.posBusc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bgc{
    background-color: orangered;
    color: white;
    height: 30px;
}

button.pressed {
    background-color: #2980b9;
    color: white;
}
